################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/openGPS_IpScanSinglePort/obj/Debug
/openGPS_IpScanSinglePort/obj/Release
/.vs
/openGPS_IpScanSinglePort/bin/Debug
